<h1>xs, sm, md, lg, xl</h1>
<div fxLayout="column" fxLayoutGap="1em">
  <!-- XS -->
  <mat-card fxFlexFill fxFlex [class.mat-elevation-z4]="true" fxHide [fxHide.xs]=" isVisibleOnMobile () ">
    XS = 'tela e (largura máxima: 599px)
  </mat-card>

  <!-- SM -->
  <mat-card fxFlexFill fxFlex [class.mat-elevation-z4]="true" fxHide [fxHide.sm]=" isVisibleOnMobile() " style="background: rgb(245, 117, 117);">
    SM = 'screen and (min-width: 600px) and (max-width: 959px)'
  </mat-card>

  <!-- MD -->
  <mat-card fxFlexFill fxFlex [class.mat-elevation-z4]="true" fxHide [fxHide.md]=" isVisibleOnMobile() " style="background: rgb(245, 237, 117);">
    MD = 'tela e (largura mínima: 960px) e (largura máxima: 1279px)'
  </mat-card>

  <!-- LG -->
  <mat-card fxFlexFill fxFlex [class.mat-elevation-z4]="true" fxHide [fxHide.lg]=" isVisibleOnMobile() " style="background: rgb(180, 235, 93);">
    LG = 'screen and (min-width: 1280px) and (max-width: 1919px)'
  </mat-card>

  <!-- XL -->
  <mat-card fxFlexFill fxFlex [class.mat-elevation-z4]="true" fxHide [fxHide.xl]=" isVisibleOnMobile() " style="background: rgb(37, 146, 33);">
    XL = 'tela e (largura mínima: 1920px) e (largura máxima: 5000px)'
  </mat-card>
</div>

<br>
<br>

<h1>lt-sm, lt-md, lt-lg, lt-xl</h1>
<div fxLayout="column" fxLayoutGap="1em">
  <!-- LT-SM -->
  <mat-card fxFlexFill fxFlex [class.mat-elevation-z4]="true" fxHide [fxHide.lt-sm]=" isVisibleOnMobile() " style="background: rgb(85, 255, 184);">
    lt-sm = 'tela e (largura máxima: 599px)'
  </mat-card>

  <!-- LT-MD -->
  <mat-card fxFlexFill fxFlex [class.mat-elevation-z4]="true" fxHide [fxHide.lt-md]=" isVisibleOnMobile() " style="background: #808080	;">
    lt-md = 'tela e (largura máxima: 959px)'
  </mat-card>

  <!-- LT-LG -->
  <mat-card fxFlexFill fxFlex [class.mat-elevation-z4]="true" fxHide [fxHide.lt-lg]=" isVisibleOnMobile() " style="background:#6A5ACD	;">
    lt-lg = 'tela e (largura máxima: 1279px)'
  </mat-card>

  <!-- LT-XL -->
  <mat-card fxFlexFill fxFlex [class.mat-elevation-z4]="true" fxHide [fxHide.lt-xl]=" isVisibleOnMobile() " style="background: #00BFFF;">
    lt-xl = 'tela e (largura máxima: 1919px)'
  </mat-card>
</div>

<br>
<br>

<h1>gt-xs, gt-sm, gt-md, gt-lg</h1>
<div fxLayout="column" fxLayoutGap="1em">
  <!-- GT-XS -->
  <mat-card fxFlexFill fxFlex [class.mat-elevation-z4]="true" fxHide [fxHide.gt-xs]=" isVisibleOnMobile() " style="background: #00FF00;">
    gt-xs = 'tela e (largura mínima: 600px)'
  </mat-card>

  <!-- GT-SM -->
  <mat-card fxFlexFill fxFlex [class.mat-elevation-z4]="true" fxHide [fxHide.gt-sm]=" isVisibleOnMobile() " style="background: #DAA520;">
    gt-sm = 'tela e (largura mínima: 960px)'
  </mat-card>

  <!-- GT-MD -->
  <mat-card fxFlexFill fxFlex [class.mat-elevation-z4]="true" fxHide [fxHide.gt-md]=" isVisibleOnMobile() " style="background: #FFDEAD;">
    gt-md = 'tela e (largura mínima: 1280px)'
  </mat-card>

  <!-- GT-LG -->
  <mat-card fxFlexFill fxFlex [class.mat-elevation-z4]="true" fxHide [fxHide.gt-lg]=" isVisibleOnMobile() " style="background: #FF00FF;">
    gt-lg = 'tela e (largura mínima: 1920px)'
  </mat-card>
</div>

<br>
<br>
<br>

<h1>Obs.: Quanto não quiser determinar tamanhos usar sem a sigla, ex:</h1>
<ul>
  <li>fxFlex.xs -> fxFlex</li>
  <li>fxLayout.lt-sm -> fxLayoutu</li>
  <li>fxLayoutGap.gt-md -> fxLayoutGap</li>
</ul>